/* ---------- FONT TYPE --------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ---------- END OF FONT TYPE --------- */

/* ---------- ICON --------- */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
/* ---------- END OF ICON --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.header {
  position: absolute;
  width: 100%;
}

.nav {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */
  width: 80%;
}
.menus .menu-item {
  display: flex;
  width: 100%;
  gap: 5%;
  justify-content: flex-end;
}
.menus .menu-item .menu-sign {
  /* background-color: red; */
  width: 400px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.btn-join {
  background-color: #fc724d;
  padding: 20px;
  width: 800px;
  font-weight: 800;
  transition: all 0.5s;
}
.btn-join:hover {
  background-color: #ed5127;
  box-shadow: -6px 6px 19px 0px rgba(247, 176, 44, 0.65);
}

.menu-hamburger {
  display: none;
}

main {
  height: auto;
  padding-top: 10rem;
}
.background-image {
  background-image: url('../images/lp_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  /* padding-bottom: 30px; */
  height: 120vh;
  z-index: -10;
  top: 0;
}
#content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.article-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
  color: white;
}
.article-1 h4 {
  padding-bottom: 10px;
  width: 100%;
}
.article-1 h2 {
  width: 542px;
  font-size: 58px;
  font-weight: 700;
  letter-spacing: 0.2px;
  padding-bottom: 20px;
}
.article-1 p {
  width: 100%;
  font-size: 20px;
  padding-bottom: 40px;
}
.article-2 {
  width: 50%;
  display: flex;
  justify-content: end;
}

.btn-grup button {
  border: none;
  padding: 20px;
  font-size: 14px;
  width: 190px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.btn-grup .btn-orange {
  background-color: #fc724d;
  border-radius: 4px;
  transition: all 0.3s;
}

.btn-grup .btn-orange:hover {
  box-shadow: 0px 10px 20px 0 rgba(255, 175, 71, 0.701);
  color: #dddddd;
}
.btn-grup .btn-border {
  background-color: transparent;
  border: 2px solid #fc724d;
  border-radius: 4px;
  transition: all 0.3s;
}
.btn-grup .btn-border:hover {
  color: #dddddd;
  box-shadow: 0px 10px 20px 0 rgba(255, 175, 71, 0.701);
}

.image img {
  width: 100%;
}

.content-support {
  margin-top: 22rem;
  width: 100%;
  height: 335px;
  display: flex;
  margin-bottom: 100px;
}
.item-support {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.item-support img {
  padding: 20px;
  transition: all 0.5s;
}

.item-support img:hover {
  transform: scale(1.1);
  box-shadow: 0 13px 19px 0 rgba(199, 119, 65, 0.494);
  cursor: pointer;
}
.article-department {
  height: 100vh;
  display: flex;
  align-items: center;
}

.department-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  height: 300px;
  justify-content: space-between;
}
.department-1 h2 {
  font-size: 40px;
}
.department-1 img {
  width: 200px;
}
.department-1 p {
  color: #737373;
  line-height: 30px;
}
.department-1 h6 {
  font-weight: 700;
}
.department-1 h6,
.department-1 i {
  font-size: 14px;
  color: #fc724d;
}

.department-2 {
  flex-basis: 60%;
  height: 688px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 40px;
}
.department-card {
  width: 237px;
  height: 292px;
  box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all -0.2s;
  cursor: pointer;
}
.department-card:hover {
  transform: scale(1.1) !important ;
  box-shadow: 0 13px 19px 0 rgba(199, 119, 65, 0.494);
}
.department-card .card-image {
  display: flex;
  justify-content: center;
  background-color: #629cfa86;
  padding: 22px 19px;
  width: 76px;
  height: 76px;
  border-radius: 10px;
}
.department-card .card-title {
  font-size: 16px;
  font-weight: bold;
}
.department-card .card-p {
  font-size: 14px;
  line-height: 20px;
}
.content-activity {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  height: 100vh;
  margin-top: 10rem;
  gap: 2rem;
}
.content-activity-text {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
}

.content-activity-text h2 {
  font-size: 40px;
}
.content-activity-text img {
  width: 200px;
}
.content-activity-text p {
  color: #737373;
  line-height: 30px;
  width: 600px;
}
.content-activity-text h6 {
  color: #fc724d;
  font-weight: 700;
  font-size: 14px;
}

.pricing-content {
  height: auto;
  background-color: #26335d;
  margin-top: 10rem;
  width: auto;
  padding-bottom: 10rem;
}
.pricing-header {
  padding-top: 160px;
  padding-bottom: 80px;
  width: 100%;
}
.pricing-header h6 {
  color: #fc724d;
  padding-bottom: 1rem;
  font-size: 14px;
}
.pricing-header h2 {
  font-size: 40px;
  padding-bottom: 1rem;
}
.pricing-header p {
  width: 463px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}
.pricing-header h2,
.pricing-header p {
  color: white;
}
.card-pricing {
  height: 678px;
  background-color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.card-pricing .container {
  display: flex;
  flex-direction: column;

  height: 50%;
}
.pricing-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.image-1 {
  background-image: url('../images/pricing-image-1.png');
}
.image-2 {
  background-image: url('../images/pricing-image-2.png');
}
.image-3 {
  background-image: url('../images/pricing-image-3.png');
}

.pricing-image {
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
}
.icon-image {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.heart,
.shop,
.eye {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 44.7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.heart:hover,
.shop:hover,
.eye:hover {
  transform: translateY(-2px);
  box-shadow: 3px 0px 12px #ffffff;
}

.heart {
  color: #e74040;
}
.heart:hover {
  text-shadow: 3px 0px 10px #e74040;
}

.shop {
  color: #4086e7;
}

.shop:hover {
  text-shadow: 3px 0px 10px #4086e7;
}
.eye {
  color: #e7c840;
}
.eye:hover {
  text-shadow: 3px 0px 10px #e7c840;
}

.pricing-image p {
  position: absolute;
  background-color: #e74040;
  height: 24px;
  width: 52px;
  color: white;
  text-align: center;
  top: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  left: 20px;
  font-weight: 700;
  border-radius: 3px;
}
.pricing-link {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  align-items: center;
}
.pricing-link a {
  font-size: 14px;
  color: #3582fe;
  font-weight: bold;
}
.pricing-rating {
  background-color: #26335d;
  height: 26px;
  width: 50px;
  border-radius: 12px;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pricing-rating i {
  color: #e7c840;
}
.pricing-rating span {
  color: white;
}
.pricing-title {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bolder;
}
.pricing-p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 280px;
  color: #737373;
}
.pricing-view {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  width: 83px;
  justify-content: space-around;
}
.pricing-view i {
  font-size: 16px;
  color: #737373;
}
.pricing-view span {
  font-size: 14px;
  font-weight: bold;
  color: #737373;
}
.pricing-price {
  color: #3582fe;
  font-weight: bolder;
  font-size: 16px;
  margin-top: 10px;
}

.pricing-progress {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

.progress-time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  width: 40%;
}
.progress-lesson {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  width: 40%;
}
.progress-lesson i,
.progress-time i {
  padding-right: 10px;
  color: #fc724d;
}
.progress-lesson span,
.progress-time span {
  padding-right: 10px;
  color: #737373;
  font-weight: bold;
}

.pricing-button {
  border: 2px solid #4086e7;
  margin-top: 20px;
  height: 44px;
  width: 142px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.pricing-button:hover {
  box-shadow: 3px 3px 10px #4086e7;
}
.pricing-button a {
  font-size: 14px;
  color: #4086e7;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

.contact {
  margin: 10rem 0;
  display: flex;
  height: 100vh;
}
.contact-flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.contact-news {
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  background: rgb(255, 232, 13);
  background: linear-gradient(
    42deg,
    rgb(255, 182, 13) 0%,
    rgb(215, 95, 21) 100%
  );
  box-shadow: rgb(242, 137, 71) 0px 7px 29px 0px;
  /* height: 100%; */
}
.contact-news-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-news-text h2 {
  font-size: 18px;
  color: white;
  padding-bottom: 16px;
}
.contact-news-text h1 {
  padding-bottom: 16px;
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.contact-news-text p {
  font-size: 16px;
  color: #ffffff;
  width: 80%;
}

.form-email {
  width: 70%;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20%;
}
.form-email input {
  width: 76%;
  outline: none;
  height: 100%;
  border: none;
  padding: 3% 4%;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}
.form-email button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 25%;
  border: none;
  background-color: #ed5127;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0 5px 5px 0;
}

.card-contact {
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.2%;
  background: rgb(13, 136, 255);
  background: linear-gradient(
    42deg,
    rgba(13, 136, 255, 1) 0%,
    rgba(38, 89, 249, 1) 100%
  );
  box-shadow: #3582fe 0px 7px 29px 0px;
}
.contact-image {
  margin-top: 2rem;
  height: 150px;
  width: 150px;
  position: relative;
}

.contact-image img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid #fc724d;
  box-shadow: 0px 7px 20px 0px #fc724d;
}
.contact-text {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-text p {
  padding-top: 0.7rem;
  width: 60%;
  text-align: justify;
  font-size: 14px;
  color: white;
  line-height: 150%;
}
.contact-text h2 {
  color: #fc724d;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  padding-top: 0.3rem;
}
.contact-text h1 {
  color: white;
  text-align: center;
}
.grup-icon {
  padding-top: 0.3rem;
  font-size: 24px;
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.grup-icon a {
  color: #fa967b;
}
.footer {
  height: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}
.footer .footer-info {
  height: auto;
  width: 100%;
  padding: 2% 0;
  background-color: #26335d;
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-social {
  height: auto;
  background-color: #cfcfcf;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  flex-basis: 20%;
  align-content: space-around;
  flex-wrap: wrap;
}
.footer-flex h5 {
  padding-bottom: 6%;
  font-size: 18px;
  color: white;
}
.footer-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer-details a {
  padding: 4px 0;
  width: 100%;
}
.footer-grup {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 5%;
}
.footer-details a i {
  padding-right: 0.4rem;
}
.footer-social-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
  gap: 2rem;
}
.footer-social-item h6 {
  font-size: 18px;
  color: #737373;
  width: 70%;
}
.footer-social-item .footer-item-social {
  width: 30%;
  text-align: center;
  font-size: 30px;
  gap: 20px;
  display: flex;
  text-align: center;
  align-items: center;

  justify-content: center;
}
.footer-item-social a i {
  color: #fc724d;
}

/* -------- SCREEN SIZE MAX WIDTH 480PX --------- */
@media only screen and (max-width: 480px) {
  .nav {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }

  .menus {
    top: 0;
    right: 0;
    transform: translatex(110%);
    transition: all 0.2s;
    flex-direction: column;
    position: fixed;
    background-color: #3582fe;
    height: 100%;
    width: 80%;
    justify-content: center;
    align-items: center;
    box-shadow: -7px 0px 32px -2px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: -7px 0px 32px -2px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -7px 0px 32px -2px rgba(0, 0, 0, 0.51);
    /* z-index: 99; */
  }

  .show-menus {
    transform: translateX(0);
  }
  .menus .menu-item {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .menus .menu-item li {
    padding: 25px 0;
    width: 90%;
    transition: all 0.3s;
  }
  .menus .menu-item li:hover {
    width: 90%;
    background-color: #fc724d;
    cursor: pointer;
  }
  .menus .menu-item li a {
    font-size: 20px;
    font-weight: 600;
  }
  .menus .menu-sign li:hover {
    background-color: transparent;
  }
  .menus .menu-sign:hover {
    transform: scale(1.1);
  }

  .menus .menu-sign {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    transition: all 0.3s;
  }

  .close-bar {
    display: none;
  }

  .menu-hamburger {
    font-size: 40px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
  }

  main {
    height: auto;
  }
  .background-image {
    background-image: url('../images/lp_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    padding-bottom: 30px;
    z-index: -10;
    top: 0;
  }

  #content {
    margin-top: -10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
  }

  .article-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 400px;
    color: white;
  }
  .article-1 h4 {
    padding-bottom: 10px;
    width: 100%;
  }
  .article-1 h2 {
    width: 542px;
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding-bottom: 20px;
  }
  .article-1 p {
    width: 100%;
    font-size: 20px;
    padding-bottom: 40px;
  }
  .article-2 {
    display: none;
  }

  .btn-grup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
  }
  .btn-grup button {
    border: none;
    padding: 10px;
    font-size: 14px;
    width: 120px;
    font-weight: 600;
    color: white;
  }

  .btn-grup .btn-orange {
    background-color: #fc724d;
  }
  .btn-grup .btn-border {
    background-color: transparent;
    border: 1px solid #fc724d;
  }

  .image img {
    display: none;
  }

  .content-support {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .item-support {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
  }

  .department-2 {
    flex-basis: 60%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 40px;
  }

  .department-card {
    width: 237px;
    height: 292px;
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content-activity {
    margin-top: 10rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .content-activity img {
    width: 100%;
    /* margin-bottom: 2rem; */
  }
  .content-activity-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0;
    justify-content: space-between;
    margin-top: 4rem;
  }
  .content-activity-text h2 {
    font-size: 40px;
  }
  .content-activity-text img {
    width: 200px;
  }
  .content-activity-text p {
    width: 400px;
    color: #737373;
    line-height: 30px;
  }
  .card-pricing {
    height: 678px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .pricing-p {
    width: 100%;
  }
  .pricing-header p {
    width: 100%;
  }
  .contact-flex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  .contact-news {
    width: 100%;
    margin-top: 10rem;
    height: 600px;
  }
  .card-contact {
    width: 100%;
    height: 800px;
  }
  .form-email {
    width: 80%;
  }
  .form-email input {
    width: 65%;
  }

  .form-email button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50% !important;
    border: none;
    color: white;
    font-size: 60% !important;
    font-weight: 600;
    border-radius: 0 5px 5px 0;
  }
}
/* -------- END OF SCREEN SIZE MAX WIDTH 480PX --------- */

/* --------  SIZE MAX WIDTH 860PX --------- */
@media only screen and (max-width: 860px) {
  .nav {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
  }

  .menus {
    top: 0;
    right: 0;
    transform: translatex(110%);
    transition: all 0.2s;
    flex-direction: column;
    position: fixed;
    background-color: #3582fe;
    height: 100%;
    width: 80%;
    justify-content: center;
    align-items: center;
    box-shadow: -7px 0px 32px -2px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: -7px 0px 32px -2px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -7px 0px 32px -2px rgba(0, 0, 0, 0.51);
  }

  .show-menus {
    transform: translateX(0);
  }
  .menus .menu-item {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .menus .menu-item li {
    padding: 25px 0;
    width: 90%;
    transition: all 0.3s;
  }
  .menus .menu-item li:hover {
    width: 90%;
    background-color: #fc724d;
    cursor: pointer;
  }
  .menus .menu-item li a {
    font-size: 20px;
    font-weight: 600;
  }
  .menus .menu-sign li:hover {
    background-color: transparent;
  }
  .menus .menu-sign:hover {
    transform: scale(1.1);
  }

  .menus .menu-sign {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    transition: all 0.3s;
  }

  .menus .menu-sign .btn-join {
    font-weight: 800;
    letter-spacing: 2px;
  }
  .btn-join {
    background-color: #fc724d;
    padding: 20px;
  }

  .close-bar {
    display: none;
    z-index: 10;
    right: 40px;
    top: 20px;
    position: fixed;
  }

  .menu-hamburger {
    font-size: 40px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    position: fixed;
    right: 30px;
    display: flex;
  }

  main {
    height: auto;
  }
  .background-image {
    background-image: url('../images/lp_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    padding-bottom: 30px;
    z-index: -10;
    top: 0;
  }

  #content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .article-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    color: white;
    justify-content: flex-start;
    align-items: center;
    margin-top: -10rem;
  }
  .article-1 h4 {
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .article-1 h2 {
    width: 100%;
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding-bottom: 20px;
    text-align: center;
  }
  .article-1 p {
    width: 100%;
    font-size: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  .article-2 {
    display: none;
  }

  .btn-grup button {
    border: none;
    padding: 20px;
    font-size: 14px;
    width: 190px;
    font-weight: 600;
    color: white;
  }

  .btn-grup .btn-orange {
    background-color: #fc724d;
  }
  .btn-grup .btn-border {
    background-color: transparent;
    border: 1px solid #fc724d;
  }

  .image img {
    width: 100%;
    display: none;
  }

  .content-support {
    width: 100%;
    height: 200px;
    display: flex;
    margin-bottom: 100px;
  }
  .item-support {
    margin-top: -2rem;
    width: 100%;
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
  }

  .article-department {
    margin: 15rem 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .department-1 {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding-bottom: 5rem;
    justify-content: space-between;
    align-content: space-between;
  }

  .content-activity {
    margin-top: 10rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .content-activity img {
    width: 100%;
    /* margin-bottom: 2rem; */
  }
  .content-activity-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0;
    justify-content: space-between;
    margin-top: 4rem;
  }
  .content-activity-text h2 {
    font-size: 40px;
  }
  .content-activity-text img {
    width: 200px;
  }
  .content-activity-text p {
    color: #737373;
    line-height: 30px;
    width: 95%;
  }
  .pricing-flex {
    display: flex;
    justify-content: center;
  }
  .contact-flex {
    display: flex;

    flex-direction: column-reverse;
    align-items: center;
  }
  .contact-news {
    width: 60%;
    margin-top: 10rem;
    height: 600px;
  }
  .card-contact {
    width: 75%;
  }
  .form-email input {
    width: 65%;
  }

  .form-email button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 35%;
    border: none;
    background-color: #ed5127;
    color: white;
    font-size: 60%;
    font-weight: 600;
    border-radius: 0 5px 5px 0;
  }
  .footer {
    margin-top: 60rem !important;
  }
}

/* -------- END OF SCREEN SIZE MAX WIDTH 860PX --------- */

/* --------  SIZE MAX WIDTH 1024PX --------- */
@media only screen and (max-width: 1024px) {
  .content-support {
    margin-top: 35rem;
    width: 100%;
    height: 200px;
    display: flex;
    margin-bottom: 100px;
  }

  .nav {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .logo {
    width: 100%;
  }
  .menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
    width: 75%;
  }
  .menus .menu-item {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* width: 100%; */
  }
  .menus .menu-item .menu-sign {
    /* background-color: red; */
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .btn-join {
    background-color: #fc724d;
    padding: 20px;
    width: 800px;
    font-weight: 800;
  }
  .content-activity {
    margin-top: 10rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .content-activity img {
    width: 100%;
    /* margin-bottom: 2rem; */
  }
  .content-activity-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0;
    justify-content: space-between;
    margin-top: 4rem;
    width: 100%;
  }
  .content-activity-text h2 {
    font-size: 40px;
  }
  .content-activity-text img {
    width: 200px;
  }
  .content-activity-text p {
    color: #737373;
    line-height: 30px;
  }
  .pricing-flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .contact-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contact-news {
    width: 60%;
    margin-top: 10rem;
    height: 600px;
  }
  .card-contact {
    width: 75%;
  }
  .form-email input {
    width: 65%;
  }

  .form-email button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 35%;
    border: none;
    background-color: #ed5127;
    color: white;
    font-size: 60%;
    font-weight: 600;
    border-radius: 0 5px 5px 0;
  }
  main {
    height: auto;
    padding-top: 20rem;
  }
  .background-image {
    background-image: url('../images/lp_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    padding-bottom: 30px;
    height: 140vh;
    z-index: -10;
    top: 0;
  }
  .footer {
    margin-top: 90%;
  }
  .footer-social-item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    gap: 2rem;

    flex-wrap: wrap;
  }
  .footer-social-item h6 {
    font-size: 18px;
    color: #737373;
    width: 70%;
    text-align: center;
  }
  .footer-social-item .footer-item-social {
    width: 30%;
    text-align: center;
    font-size: 30px;
    gap: 20px;
    display: flex;
    text-align: center;
    align-items: center;

    justify-content: center;
  }
  .footer-item-social a i {
    color: #fc724d;
  }
}
/* -------- END OF SIZE MAX WIDTH 1024PX --------- */
